@font-face {  
  src: url(RobotoCondensed.ttf);
  font-family: "Roboto Condensed";
}

body {
	padding-top: 70px;
	font-family: 'Roboto Condensed';
	color: #53565A !important;
}

.btn-default {
	color: #fff; 
	background-color: #0072CE; 
	border-color: #003087;
}

.btn-default.active {
	color: #53565A;
	background-color: #D9D9D6;
	border-color: #C8C9C7;
}

.navbar-default {
	/* background-color: #D9D9D6 !important;
	border: 1px solid #C8C9C7; */
	border: 1px solid #D9D9D6;
	color: #53565A !important;
}

.navbar-default .navbar-nav > li > a {
	color: #75787B;
}

.bg-aqua,  .well {
	/* background-color: #D9D9D6 !important;
	border: 1px solid #C8C9C7; */
	background-color: #f8f8f8 !important;
	border: 1px solid #D9D9D6;
	color: #53565A !important;
}

#nimekiri {
	column-count: 3;
}

#nimekiri2 {
	column-count: 3;
}

.dropdown-toggle {
	margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed';
}

.dataTables_scrollHead {
	background-color: #0072CE;
	color: #fff;
}

.dataTables_scrollBody {
	color: #000;
}

table.dataTable.row-border tbody th, 
table.dataTable.row-border tbody td, 
table.dataTable.display tbody th, 
table.dataTable.display tbody td {
    border-top: 1px solid #0072CE !important;
}

table.dataTable.stripe tbody tr.odd, 
table.dataTable.display tbody tr.odd {
	background-color: #fff !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #0072CE !important;
}

table.dataTable.display tbody tr.odd.selected {
    background-color: #D9D9D6 !important;
}